<div class="forum-container">
  <div class="header">
    <h1 class="forum-title">Welcome to the Forum</h1>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
  <p class="forum-description">A blast from the past, where ideas meet!</p>
  <p class="forum-description">You currently have the permission to: <span style="font-weight: bolder"> {{ permission }}</span> comments. </p>
  <div class="categories">
    <div *ngFor="let category of categories" class="category">
      <h2>{{ category.name }}</h2>
      <p>{{ category.description }}</p>
      <button class="enter-btn" [routerLink]="[category.path]">Enter {{ category.name }}</button>
    </div>
  </div>
</div>
